body {
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
#sign-in{
    border: 1px solid #4285f4;
    outline: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #4285f4;
    opacity: 1;
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
    text-align: left;
    border-radius: 2px;
    padding: 0 12px;
    text-decoration: none;
}

.nav-container{
    line-height: 30px;
    user-select: none;
    top: 0;
    left: 0;
    right: 0;
    float: right;
    padding-right: 30px;
    display: flex;
}

.nav-container > ul {
    list-style-type: none;
    float: top;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.nav-container > ul > li{
    display: inline;
    float: right;
    vertical-align: middle;
    text-align: right;
}

.nav-container > ul > li > a{
    text-align: center;
    display: block;
    padding: 6px 16px 6px 6px;
    text-decoration: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 87);
}

#main-wrapper {
    display: inline-block;
    text-align: center;
    margin: 2% 25% 0% 25%;
}

.logo {
    text-align: -webkit-center;
    margin-top: 47px;
}

#search {
    display: flex;
    width: 100%;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 0 auto;
    max-width: 482px;
}
#search:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

#fsl {
    float: left;
    display: flex;
    margin-left: 30px;
}

#fsr {
    float: right;
    display: flex;
    margin-right: 30px;



/**



.buttons{
    display: block;
    text-align: -webkit-center;
    margin: 20px;
    padding: 5px;
}

.buttons > span {
    padding-right: 5px;
}

*/